@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    

#login {
    
    border: 1px;
    border-radius: 16px;
    padding: 20px;
    width: 36%; 
    height: 67%;
    position: absolute;
    top: 25%;
    left: 32%;
    
}

.form-control{
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border: 1px;

}

.square-login {
    width: 40%; 
    height: 80%;
    position: absolute;
    top: 15%;
    left: 30%;
    background: #7e97a8b2;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    

   /* text-align: center; */ 


}

#mainNav {
    /*background-color: black;*/
    background: linear-gradient(to left, #27a3d4, #0a65c2);
    
    border-radius: 0px 0px 16px 16px;

}

#brandName{
    color: white;
}



.circulo {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
background: #0a65c2;
}

.circulo:nth-child(1) {
    width: 150px;
    height: 150px;
    bottom: 17%;
    left: 40%;
}

.circulo:nth-child(2) {
    width: 100px;
    height: 100px;
    bottom: 15%;
    left: 10%;
}

.circulo:nth-child(3) {
    width: 125px;
    height: 125px;
    bottom: 38%;
    left: 60%;
}

.circulo:nth-child(4) {
    width: 80px;
    height: 80px;
    bottom: 85%;
    left: 50%;
}

.circulo:nth-child(5) {
    width: 30px;
    height: 30px;
    bottom: 55%;
    left: 90%;
}

.circulo:nth-child(6) {
    width: 60px;
    height: 60px;
    bottom: 65%;
    left: 70%;
}

.circulo:nth-child(7) {
    width: 60px;
    height: 60px;
    top: 20%;
    left: 30%;
}
.semi-circulo {
     
    background: #0a65c2;
    border-radius: 0 100px 100px 0;
    position: absolute;
    
}

.semi-circulo:nth-child(1){
    width: 75px; 
    height: 150px;
    top: 12%;
    border-radius: 0px 100px 100px 0px;
}
.semi-circulo:nth-child(2){
    width: 75px; 
    height: 150px;
    right: 0;
    top: 65%;
    border-radius: 100px 0px 0px 100px;
}

.square-welcome {
        width: 60%; 
        height: 50%;
        position: absolute;
        top: 25%;
        left: 20%;
        background: #7e97a8b2;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.4px);
        -webkit-backdrop-filter: blur(11.4px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        
  
        text-align: center;  


}
.fuente{
   font-family: Montserrat, sans-serif;
    font-size: 5vmax;
    color: rgb(236, 236, 236);
}
.fuente-azul {
    font-family: Montserrat, sans-serif;
    font-size: 5vmax;
color: #0a65c2;

}

.fuente-sub{
    font-family: Montserrat, sans-serif;
    font-size: 5vmax;
color: #0d0d0e;

}

.fuente-cv{
    font-family: Montserrat, sans-serif;
    font-size: 5vmax;
color: #0d0d0e;

}

.header{
    height: 100vh;
    display: flex;
}
 

.square-fondo {
    height: 100vh;
    display: flex;
    position: relative;
    background: #f5fcff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border-radius: 16px;

}

.foto-me{

    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 10%;
    height: 220px;
    width: 220px;
    background: #f5fcff;
    object-fit: fill;
  /*  -webkit-box-shadow: -95px -74px 0px 8px #0a65c2;
-moz-box-shadow: -95px -74px 0px 8px #0a65c2;*/
box-shadow: -105px -74px 0px 60px #0a65c2;

}


/* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
